/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

.pop-up {
  position: relative;

  textarea {
    min-height: 400px;
    width: 90%;
    box-shadow: 0px 0px 4px gray inset;
    padding: 13px;
    border-radius: 15px;
  }

  .title-input {
    width: 500px;
  }

  .cancel-button {
    position: absolute;
    right: 10px;
    top: -10px;
  }

  textarea,
  .title-input,
  button {
    margin-bottom: 20px;
  }
}


