<div class="pop-up" mat-dialog-content style="overflow: inherit">
  <form
    #addArticleControl="ngForm"
    #formElement
    (ngSubmit)="submitForm()"
  >
    <h1 mat-dialog-title>{{'addArticleDialog.addArticle' | translate}}</h1>

    <mat-form-field class="title-input">
      <input
        #titleControl="ngModel"
        #titleElement
        [(ngModel)]="data.title"
        matInput
        name="title"
        placeholder="{{'addArticleDialog.titlePlaceholder' | translate}}"
        required
      >
    </mat-form-field>
    <textarea

      #contentControl="ngModel"
      #contentElement
      [(ngModel)]="data.content"
      matInput
      name="content"
      placeholder="{{'addArticleDialog.contentPlaceholder' | translate}}"
      required
      >
    </textarea>

    <button (click)="imgFileInput.click()" mat-button md-button
            type="button">{{'addArticleDialog.addPhoto' | translate}}
    </button>

    <input #imgFileInput (change)="previewImage($event)" hidden type="file"/>
    <div id="chosen_image" style="float:right" width="100px">

    </div>
    <h3>{{'addArticleDialog.chooseCategory' | translate}} </h3>
    <mat-nav-list *ngFor="let category of categories"

    >
      <mat-checkbox
        (change)="checkedValue($event)"
        name="{{category.name}}">{{category.name}}</mat-checkbox>
    </mat-nav-list>
    <textarea #tagControl="ngModel" #tagElement
              [(ngModel)]="tagString"
              class="tags"
              matInput
              name="content"
              placeholder="{{'addArticleDialog.addTagsPlaceholder' | translate}}">

    </textarea>

    <div mat-dialog-actions>
      <button mat-button type="submit">{{'addArticleDialog.submit' | translate}}</button>

    </div>


  </form>


  <button (click)=this.dialogRef.close(this.data) class="cancel-button" color="warn"
          mat-mini-fab>
    X
  </button>

</div>
