<mat-toolbar class="menu" color="primary">
  <span style="margin-right: 20px">BeezKneez</span>
  <button *ngIf="!isLoggedIn()" mat-button routerLink='/login' routerLinkActive="active">Login
  </button>
  <button mat-button routerLink='/register' routerLinkActive="active">Sign Up
  </button>
  <button *ngIf="isLoggedIn()" mat-button routerLink='/profile'>
    <i class="material-icons">account_circle</i>
  </button>


  <button (click)="logout()" *ngIf="isLoggedIn()" mat-button>
    <i class="material-icons">logout</i></button>


</mat-toolbar>

