<form #addCommentControl="ngForm"
      #formElement
      (ngSubmit)="submitForm()"
      class="add-article-form">

  <mat-form-field class="example-full-width">
    <textarea #contentControl="ngModel"
              #contentElement
              [(ngModel)]="comment.content"
              matInput
              name="content"
              placeholder="Leave a comment">

    </textarea>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button type="submit">Comment</button>
  </div>

</form>
<ul class="comments">
  <li *ngFor="let comment of commentList">
    <mat-card class="article-card">

      <p>{{comment.content}}</p>
      <h4>{{comment.user.username}}</h4>
      <h4>{{comment.date | date: 'dd/MM/yyyy'}}</h4>

    </mat-card>
    <button (click)="editCommentDialog(comment.id)" *ngIf="verifyUser(comment.user.username)" color="primary"
            mat-raised-button>
      Edit
    </button>
    <button (click)="deleteComment(comment.id)" *ngIf="verifyUser(comment.user.username)" color="primary"
            mat-raised-button>Delete
    </button>
  </li>
</ul>
