
<form #addCommentControl="ngForm"
      #formElement
      (ngSubmit)="submitForm()"
      class="add-article-form">

  <mat-form-field class="full-width-field">
    <textarea #contentControl="ngModel"
              #contentElement
              [(ngModel)]="comment.content"
              matInput
              name="content"
              placeholder="Leave a comment">

    </textarea>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button type="submit">Comment</button>
  </div>

</form>
<ul class="comments">
  <li *ngFor="let comment of commentList">
    <button class="control-button" (click)="editCommentDialog(comment.id)" *ngIf="verifyUser(comment.user.username)"
            mat-raised-button>
      Edit
    </button>
    <button class="control-button" (click)="deleteComment(comment.id)" *ngIf="verifyUser(comment.user.username)"
            mat-raised-button>Delete
    </button>
    <mat-card class="comment-card">

      <div class="comment-meta">
        <div>{{comment.date | date: 'dd/MM/yyyy'}}</div>

        <div>{{comment.user.username}}:</div>
      </div>
      <div class="comment-content">{{comment.content}}</div>


    </mat-card>

  </li>
</ul>
