.add-article-form {
  width: 100%;
  padding: 10px 0;

  .full-width-field {
    width: 100%;
  }
}

.comments {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 20px;

    .control-button {
      margin-right: 20px;
      margin-bottom: 10px;
    }

    .comment-card {
      .comment-content {
        font-size: 20px;
        padding: 20px 0;
      }

      .comment-meta {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
