<!--<h2>Articles</h2>-->
<div class="article-list">
  <ul class="articles">
  <li *ngFor="let article of articleList">
    <mat-card class="article-card">
      <img id="image" mat-card-avatar
           src={{article.image}}>

      <!--<mat-card-title>{{article.title}}</mat-card-title>-->
      <a [routerLink]="['/article/'+article.id]">{{article.title}}</a>
      <p>{{article.content}}</p>
      <!--<button (click)="addUpvote(article.id)" mat-button>-->
      <!--<i class="material-icons" *ngIf="!innerUpvoteCheck(article.id)">favorite_border</i>-->
      <!--<i class="material-icons" *ngIf="innerUpvoteCheck(article.id)">favorite</i>-->
      <!--</button>-->

    </mat-card>
    <button (click)="editArticleDialog(article.id)" *ngIf="verifyUser(article.user.username)"
            mat-raised-button>
      Edit
    </button>
    <button (click)="deleteArticle(article.id)" *ngIf="verifyUser(article.user.username)"
            mat-raised-button>Delete
    </button>
  </li>


</ul>
</div>
<div class="paginator">
  <mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChange($event)"


>

</mat-paginator>
</div>
<!--<mat-paginator-->
<!--[length]="length"-->
<!--[pageSize]="pageSize"-->
<!--(page)="filter(titleElement.value,descriptionElement.value,statusElement.value,severityElement.value,$event.pageIndex*$event.pageSize,$event.pageSize)"-->
<!--&gt;-->
<!--</mat-paginator>-->
