<h2>Articles</h2>
<ul class="articles">
  <li *ngFor="let article of articleList">
    <mat-card class="article-card">
      <img mat-card-avatar
           src={{article.image}}>

      <!--<mat-card-title>{{article.title}}</mat-card-title>-->
      <a [routerLink]="['/article/'+article.id]">{{article.title}}</a>
      <p>{{article.content}}</p>
      <!--<button (click)="addUpvote(article.id)" mat-button>-->
      <!--<i class="material-icons" *ngIf="!innerUpvoteCheck(article.id)">favorite_border</i>-->
      <!--<i class="material-icons" *ngIf="innerUpvoteCheck(article.id)">favorite</i>-->
      <!--</button>-->

    </mat-card>
    <button (click)="editArticleDialog()" *ngIf="verifyUser(article.user.username)" color="primary" mat-flat-button>
      Edit
    </button>
    <button (click)="deleteArticle()" *ngIf="verifyUser(article.user.username)" color="primary" mat-flat-button>Delete
    </button>
  </li>
</ul>

