.example-card {
  max-width: 800px;
  margin: 50px auto;

  .example-header-image {
    position: relative;
    background-size: cover;
    margin: 10px 20px;

    .edit-photo {
      right: 0;
      position: absolute;;
    }
  }

  .mat-card-avatar {
    width: 200px;
    height: 200px;
  }


}

.profile-card {
  h4 {
    word-break: break-all;
  }
}

.style-2-fab {
  width: 100px;
  border-radius: 15px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  min-width: 320px;
  margin-top: 90px;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
  color: rgba(0, 0, 0, .87);
  background-color: #fff;
}


