<div class="wrapper">

  <mat-card class="profile-card example-card">
    <mat-card-header>

      <div class="example-header-image" mat-card-avatar>

        <img mat-card-avatar
             src={{profileData.photo}}>
        <button (click)="editPhotoDialog()" class="edit-photo" mat-button>
          <i class="material-icons">edit</i>
        </button>

      </div>


      <mat-card-title>{{profileData.firstName}}</mat-card-title>
      <mat-card-title>{{profileData.lastName}}</mat-card-title>
      <button (click)="editUserInfoDialog()" class="style-2-fab" color="primary" mat-mini-fab>
        <i class="material-icons">edit</i> {{'profile.editInfo' | translate}}
      </button>

      <mat-card-subtitle style="color:#000000">

        <h4 class="mat-card-content ">{{profileData.email}}</h4>
        <h4 class="mat-card-content ">{{profileData.bio}}</h4>
        <button (click)="editUserBioDialog()" class="style-2-fab" color="primary" mat-mini-fab>
          <i class="material-icons ">edit</i> {{'profile.editBio' | translate}}
        </button>
      </mat-card-subtitle>

    </mat-card-header>


    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="400px"-->
    <!--alt="Photo of a Shiba Inu">-->

  </mat-card>

  <!-- Articole -->
  <button (click)="addArticleDialog()" color="primary" mat-raised-button>
    {{'profile.addArticle' | translate}}
  </button>
  <app-article-list [articleFilter]="username"></app-article-list>
  <!--<app-article-list></app-article-list>-->
  <!--<app-article></app-article>-->

</div>
