.example-card {
  max-width: 800px;
  margin: 50px auto;

  .example-header-image {
    position: relative;
    background-size: cover;
    margin: 10px 20px;

    .edit-photo {
      right: 0;
      position: absolute;;
    }
  }

  .mat-card-avatar {
    width: 200px;
    height: 200px;
  }


}


