<div class="pop-up" mat-dialog-content style="overflow: inherit">
  <form
    #editProfileControl="ngForm"
    #formElement
    (ngSubmit)="submitForm()"
  >
    <h1 mat-dialog-title>{{'editInfoDialog.editProfileInfo' | translate}}</h1>
  <mat-form-field>
    <input
      #firstNameControl="ngModel"
      #firstNameElement
      [(ngModel)]="data.firstName"
      matInput
      name="firstName"
      placeholder="{{'editInfoDialog.firstNamePlaceholder' | translate}}"
      required
    >
  </mat-form-field>
  <mat-form-field>
    <input
      #lastNameControl="ngModel"
      #lastNameElement
      [(ngModel)]="data.lastName"
      matInput
      name="lastName"
      placeholder="{{'editInfoDialog.lastNamePlaceholder' | translate}}"
      required
    >

  </mat-form-field>
  <mat-form-field>
    <input

      #emailElement
      [(ngModel)]="data.email"
      [errorStateMatcher]="matcher"
      [formControl]="emailFormControl"
      matInput
      name="email"

      placeholder="{{'editInfoDialog.emailPlaceholder' | translate}}"
    >
    <mat-error *ngIf="emailFormControl.invalid">Error email</mat-error>

  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="submit">{{'editInfoDialog.submit' | translate}}</button>

  </div>
  </form>

  <button (click)=this.dialogRef.close(this.data) class="cancel-button" color="warn" mat-mini-fab>X</button>

</div>
