<div class="pop-up" mat-dialog-content style="overflow: inherit">
  <form
    #editProfileControl="ngForm"
    #formElement
    (ngSubmit)="submitForm()"
  >
    <h1 mat-dialog-title>Edit profile info</h1>
  <mat-form-field>
    <input
      #firstNameControl="ngModel"
      #firstNameElement
      [(ngModel)]="data.firstName"
      matInput
      name="firstName"
      placeholder="First Name"
      required
    >
  </mat-form-field>
  <mat-form-field>
    <input
      #lastNameControl="ngModel"
      #lastNameElement
      [(ngModel)]="data.lastName"
      matInput
      name="lastName"
      placeholder="Last Name"
      required
    >

  </mat-form-field>
  <mat-form-field>
    <input

      #emailElement
      [(ngModel)]="data.email"
      [errorStateMatcher]="matcher"
      [formControl]="emailFormControl"
      matInput
      name="email"

      placeholder="Email"
    >
    <mat-error *ngIf="emailFormControl.invalid">Error email</mat-error>

  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="submit">Submit</button>

  </div>
  </form>

  <button (click)=onNoClick() class="cancel-button" color="warn" mat-mini-fab>X</button>

</div>
